<!DOCTYPE html>
<html>
<head>
    <% include head %>
	<link rel="stylesheet" type="text/css" href="stylesheets/cover.css">
	<title>City Runner</title>
</head>
<body>
	<% include navbar %>
    
</body>
</html>
