<!DOCTYPE html>
<html lang="en">
    <head>
        <% include head %>
        <link rel="stylesheet" type="text/css"href="/stylesheets/profile-style.css" />
        <title>Profile</title>
    </head>
    <body>
        <% include navbar %>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img src="/images/wat.jpg" class="profile-image"/>
                </div>
                <div class="col-xs-12 fields">
                    <div class="col-xs-4">
                        Name
                    </div>
                    <div class="col-xs-8">
                        Mr. Best
                    </div>
                </div>
                <div class="col-xs-12 fields">
                    <div class="col-xs-4">
                        Username
                    </div>
                    <div class="col-xs-8">
                        DA BES
                    </div>
                </div>
                <div class="col-xs-12 fields">
                    <div class="col-xs-4">
                        Email
                    </div>
                    <div class="col-xs-8">
                        dabes47@dabes.com
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-4">
                        Bio
                    </div>
                    <div class="col-xs-8">
                       I run because through places where you can run and running is allowed so let me through the running part where runners run.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<!-- TODO
    save weight 
    save gender-->