<!DOCTYPE html>
<html>
<head>
	<% include head %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/registerpage.css">
	<title>Register</title>
</head>
<body>
	<% include navbar %>
	<div class="container">
		<div class="row">
			<form action="/users/registerProcess" method="post">
				<div class="box col-sm-4 col-sm-offset-4 text-center">
					<div class="title">Register</div>
					<div>
						<input name="name" type="text" placeholder="name">
					</div>
					<div>
						<input name="username" type="text" placeholder="username">
					</div>
					<div>
						<input name="email" type="email" placeholder="email">
					</div>
					<div>
						<input name="password" type="password" placeholder="password">
					</div>
					<div>
						<button class="inputbutton btn btn-primary">Register</button>
					</div>					
				</div>
			</form>
		</div>
	</div>
</body>
</html>